body {
    background: #457B9D
}
header {
    display: flex;
    justify-content: space-around;
    color: #E63946;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    padding: 10px;
    margin: 10px;
    background-color: rgb(219, 221, 230);
    border-radius: 15px;
}
.entrada {
    font-family: 'Roboto Slab', serif;
    color: #E63946;
    text-align: center;
}
.botao {
    cursor: pointer;
    background-color: #1D3557;
    font-family: 'Oswald', sans-serif;
    color:#F1FAEE
}
.botao:hover {
    background-color: #345c96
}
.escrita {
    color:#457B9D;
    font-family: 'Oswald', sans-serif;
    background-color: ghostwhite;
    text-align: center;
}
.escrita:hover {
    background-color:rgb(227, 227, 236)
}
.escrita-longa {
    color:#457B9D;
    font-family: 'Oswald', sans-serif;
    background-color: ghostwhite;
    text-align: center;
    width: 170px;
}
.escrita-longa:hover {
    background-color:rgb(227, 227, 236)
}